@font-face {
	font-family: 'Mark Pro';
	src: url('../fonts/ff_mark_pro.eot') format('eot');
	src: url('../fonts/ff_mark_pro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mark Pro';
	src: url('../fonts/ff_mark_pro_bold.eot') format('eot');
	src: url('../fonts/ff_mark_pro_bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}