@import url('fonts.css');
@import url('partials/header.css');
@import url('partials/landing.css');
@import url('partials/tools.css');
@import url('partials/work.css');
@import url('partials/resume.css');
@import url('partials/contact.css');
@import url('partials/footer.css');


html {
  font-family: 'Mark Pro', 'Helvetica', 'Helvetica-Neue', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}

header, 
.landing, 
.tools section,
.about,
.work,
.resume section,
.footer {
  max-width: 1440px;
  margin: auto;
}

h1, h2, h3 { margin: 0; }

.work__container {   
  background: #E54B4B; 
  padding: 100px 0 100px;
}
.work {
  color: #fff;
  display: flex;
}

.work section { display: flex; flex-wrap: wrap; flex: 3;}
.work section h1 { flex: 1; }

  .work__item {
    max-width: calc(100%/3);
    min-height: 300px;
    padding: 40px;
    color: #fff;
    cursor: pointer;
  }
  .work__item:hover {
    background: #fff;
    color: #E54B4B;
  }
  .work__item p:first-child {
    font-weight: 100;
    text-transform: uppercase;
  }
  .work__item h2 {
    font-size: 38px;
    margin-top: 0;
  }
  .work__item p:nth-child(3) {
    font-weight: 100;
    opacity: 0.8;
  }

.resume {
  background: blue;
  padding: 100px 0 100px;
}

.resume section {
  display: flex;
  min-height: 800px;
  color: #fff;
}
.resume section .title {
  flex: 1;
  font-size: 48px;
  line-height: 200%;
}
.resume section .right_col {
  flex: 3;
}

.resume section h2 {
  font-size: 48px;
}
.resume section h2:nth-child(2){
  font-weight: normal;
}

.resume section p {
  font-size: 22px;
  font-weight: normal;
}


.about {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  .about__text {
    padding: 100px;
    text-align: center;
  }
  .about__picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    display: block;
    margin: 50px auto 50px;
  }
  .about__picture img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
  }
  .about__picture img:nth-child(1) { z-index: 2; }
  .about__picture img:nth-child(2) { z-index: 1; }
  .about__picture:hover img:nth-child(1) { opacity: 0; }
  .about__text h1 { 
    font-size: 62px;
  }
  .about__text p {
    font-size: 62px;
    font-weight: 400;
    margin-top: 20px;
  }

footer {
  background: #E72000;
}

.footer {
  max-width: 1440px;
  margin: auto;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
  footer ul {
    list-style-type: none;
    font-size: 42px;
  }
  footer p {

  }