.contact {
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FDFDFD;
  color: #E54B4B;
}

.contact section {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact section h1 { 
  font-size: 80px;
  min-height: 100px;
}

.contact section p {
  font-size: 62px;
  font-weight: 400;
  margin: 35px 0 80px;
  letter-spacing: -2px;
}