footer {
  background: #FDFDFD;
  position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
}

footer section {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #222;
  font-size: 16px;
  padding-right: 50px;
}

footer ul {
  list-style-type: none;
  font-size: 30px;
}

footer i {
	margin-right: 20px;
}