.landing {
  min-height: 100vh;
  margin-top: -100px; /*readjusting position because of header*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
  position: relative;
  z-index: 1;
}

.landing_background {
  position: absolute;
  width: 50vw;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transform: translateX(2%);
}

.landing_background.has-landed {
  opacity: 1;
  transform: translateX(0);
  transition: all 800ms ease-in-out;
}

.landing section {
  width: 100%;
  padding-left: 50px;
  max-width: 800px;
  z-index: 3;
}

.landing h1 {
  max-width: 700px;
  font-size: 64px;
}

.landing h2 {
  font-size: 64px;
  font-weight: 300;
  margin-top: 20px;
  line-height: 120%;
  letter-spacing: -1px;
}

.landing .arrow {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  font-size: 60px;
  text-align: center;
  transition: transform 100ms ease-in-out;
  cursor: pointer;
  z-index: 9999;
}

.landing .arrow:hover {
  transform: translateY(10px);
  transition: transform 150ms ease-in-out;
}