.resume {
  background: #1319b5;
  padding: 100px 0 100px;
}

.resume section {
  display: flex;
  color: #fff;
}
.resume .title {
  flex: 1;
  padding: 0 0 50px 50px;
  margin-right: -50px;
}

.resume .content {
  flex: 3;
}

.resume article {
  padding: 0 50px 0;
  margin: 0 0 75px;
}

.resume h2 {
  font-size: 48px;
}

.resume h2:nth-child(2){
  font-weight: normal;
  line-height: 180%;
}

.resume p {
  font-size: 22px;
  font-weight: normal;
  line-height: 150%;
}
.resume span {
  border-bottom: 1px solid #FFF;
  padding-bottom: 2px;
}

.resume_article {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.resume_article.is-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.resume_article:nth-child(1) { transition-delay: 600ms; }
.resume_article:nth-child(2) { transition-delay: 400ms; }
.resume_article:nth-child(3) { transition-delay: 200ms; }

.resume_article:nth-child(1).is-active { transition-delay: 200ms; }
.resume_article:nth-child(2).is-active { transition-delay: 400ms; }
.resume_article:nth-child(3).is-active { transition-delay: 600ms; }
